PORT=3000
# Comma-separated list of valid API Keys (for testing use demo-key)
API_KEYS=your-secret-api-key-1,demo-key
# ID Của Cửa hàng LemonSqueezy (Settings -> Store -> Store ID)
LEMON_STORE_ID=your_store_id_here
# Domain or IP to be displayed on the Landing Page Terminal (e.g., https://node1.tokotech.online)
DOMAIN_NAME=https://tokotech.online

# Mặc định trang Web và Nginx Proxy sẽ mở theo Cổng gốc này trên VPS, đổi tùy ý nếu 80 bị trùng!
FRONTEND_PORT=8080
DOMAIN_NAME_CLEAN=tokotech.online
